<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="DB_DRIVER" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="testuser"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="DB_NAME" value="test"/>
        <env name="DB_PORT" value="33061"/>
    </php>
    <testsuites>
        <testsuite name="Recruit me">
            <directory>tests</directory>
            <file>DbTest</file>
            <file>CustomerRepositoryTest</file>
            <file>CustomerTest</file>
        </testsuite>
    </testsuites>
</phpunit>
