<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="app/bootstrap.php"
>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="DB_HOST" value="mysql"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="DB_NAME" value="customers"/>
        <env name="DB_PORT" value="3306"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <file>tests/BookingTest.php</file>
            <file>tests/CustomerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
