<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Simple  App</title>
</head>

<body>
    <h1>Customers</h1>
    <table>
        {{# customers }}
            <tr>
                <td>{{ getFirstName }}</td>
                <td>{{ getSecondName }}</td>
                <td><a href="/customer/{{ getId }}/bookings">See bookings</a></td>
            </tr>  
        {{/ customers }}
    </table>
</html>