
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="bookings">
                <h1><span>Customers</span> </h1>
            </div>

            <div id="list">

                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.getFullName() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
{% endblock %}