<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Simple App</title>
</head>
<body>
    <h1 align="center">Create new customer</h1>
    {% if message %}
        <h2 align="center">{{ message }}</h2>
    {% endif %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error|e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/customer/store" method="post">
        <div align="center">
            <label for="title">Title:</label>
            <br />
            <input name="title" id="title" required/>
        </div>
        <br />
        <div align="center">
            <label for="name">Name:</label>
            <br />
            <input name="name" id="name" required/>
        </div>
        <br />
        <div align="center">
            <label for="surname">Surname:</label>
            <br />
            <input name="surname" id="surname" required/>
            <input type="hidden" name="csrf" id="csrf" value="{{ csrf }}"/>
        </div>
        <br />
        <div align="center">
            <label for="address">Address:</label>
            <br />
            <textarea name="address" cols="30" rows="4" id="address"></textarea>
        </div>
        <br />
        <div align="center">
            <label for="twitter_alias">Twitter alias (optional):</label>
            <br />
            <input name="twitter_alias" id="twitter_alias"/>
        </div>
        <br />
        <div align="center">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
